In [ ]:
import pandas as pd
from pytrends.request import TrendReq

%matplotlib inline

In [20]:
import warnings

# Suppress the UserWarning globally
warnings.filterwarnings("ignore", category=UserWarning)

In [9]:
df = pd.read_csv('../data/ga_data/ga_keyword.csv')

In [12]:
df.head(25)

,# ----------------------------------------,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,# Miratrix,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,# Channels,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,# 20180831-20190831,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,# ----------------------------------------,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Keyword,Users,New Users,Sessions,Bounce Rate,Pages / Session,Avg. Session Duration,Contact From Good Lead (Goal 1 Conversion Rate),Contact From Good Lead (Goal 1 Completions),Contact From Good Lead (Goal 1 Value)
6,(not provided),615,591,727,35.90%,1.75,00:01:42,0.00%,0,£0.00
7,amazon,3,3,3,100.00%,1,00:00:00,0.00%,0,£0.00
8,(not set),1,1,1,100.00%,1,00:00:00,0.00%,0,£0.00
9,miratrix,1,1,1,0.00%,2,00:11:37,0.00%,0,£0.00
10,miratrix london,1,1,1,0.00%,1,00:05:27,0.00%,0,£0.00
11,NaN,622,598,734,36.10%,1.75,00:01:43,0.00%,0,£0.00
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Day Index,Users,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,8/31/18,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,9/1/18,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,9/2/18,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,9/3/18,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,9/4/18,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,9/5/18,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,9/6/18,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,9/7/18,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,9/8/18,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,9/9/18,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,9/10/18,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
ga_kw_data = pd.read_csv('../data/ga_data/ga_keyword.csv', skiprows=6, nrows=5)

ga_kw_traffic_data = pd.read_csv('../data/ga_data/ga_keyword.csv', 
                              skiprows=14, nrows=366, parse_dates=['Day Index'])

In [22]:
ga_kw_data.head()

,Keyword,Users,New Users,Sessions,Bounce Rate,Pages / Session,Avg. Session Duration,Contact From Good Lead (Goal 1 Conversion Rate),Contact From Good Lead (Goal 1 Completions),Contact From Good Lead (Goal 1 Value)
0,(not provided),615,591,727,35.90%,1.75,00:01:42,0.00%,0,£0.00
1,amazon,3,3,3,100.00%,1.00,00:00:00,0.00%,0,£0.00
2,(not set),1,1,1,100.00%,1.00,00:00:00,0.00%,0,£0.00
3,miratrix,1,1,1,0.00%,2.00,00:11:37,0.00%,0,£0.00
4,miratrix london,1,1,1,0.00%,1.00,00:05:27,0.00%,0,£0.00

In [24]:
ga_kw_traffic_data.head()

,Day Index,Users,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,2018-08-31,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-09-01,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-09-02,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-09-03,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-09-04,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
ga_page_data = pd.read_csv('../data/ga_data/ga_pages.csv', skiprows=6, nrows=376)

ga_page_traffic_data = pd.read_csv('../data/ga_data/ga_pages.csv',
                                   skiprows=386, nrows=367,
                                   parse_dates=['Day Index'])

In [26]:
ga_page_data.head()

,Page,Pageviews,Unique Pageviews,Avg. Time on Page,Entrances,Bounce Rate,% Exit,Page Value
0,/,813,665,00:02:05,641,14.35%,55.97%,£0.00
1,/www.miratrix.co.uk,515,388,00:02:17,373,59.25%,56.89%,£0.00
2,/get-in-touch/,336,163,00:01:06,23,10.53%,33.04%,£0.00
3,/app-marketing-agency/,140,120,00:02:04,73,18.31%,57.86%,£0.00
4,/app-store-optimization-services/,136,105,00:01:30,22,14.29%,47.79%,£0.00

In [27]:
ga_page_traffic_data.head()

,Day Index,Pageviews,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,2018-08-31,14,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-09-01,6,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-09-02,17,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-09-03,14,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-09-04,11,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
ga_ref_data = pd.read_csv('../data/ga_data/ga_refering_sites.csv', 
                          skiprows=6, nrows=10)

ga_ref_traffic_data = pd.read_csv('../data/ga_data/ga_refering_sites.csv',
                                  skiprows=18, nrows=366,
                                  parse_dates=['Day Index'])

In [29]:
ga_ref_data.head()

,Source,Users,New Users,Sessions,Bounce Rate,Pages / Session,Avg. Session Duration,Contact From Good Lead (Goal 1 Conversion Rate),Contact From Good Lead (Goal 1 Completions),Contact From Good Lead (Goal 1 Value)
0,brightonseo.com,25,25,31,0.00%,1.42,00:01:08,0.00%,0,£0.00
1,clutch.co,24,23,31,54.84%,1.58,00:01:04,0.00%,0,£0.00
2,yell.com,5,5,7,0.00%,1.86,00:00:24,0.00%,0,£0.00
3,free-website-traffic.com,4,4,4,25.00%,2.25,00:00:36,0.00%,0,£0.00
4,growthbug.com,4,4,6,0.00%,1.17,00:05:15,0.00%,0,£0.00

In [30]:
ga_ref_traffic_data.head()

   Day Index  Users
0 2018-08-31      0
1 2018-09-01      0
2 2018-09-02      0
3 2018-09-03      0
4 2018-09-04      1

In [31]:
ga_social_data = pd.read_csv('../data/ga_data/ga_social_data.csv', skiprows=5,
                             nrows=7)

ga_social_traffic_data = pd.read_csv('../data/ga_data/ga_social_data.csv',
                                     skiprows=15, nrows=366,
                                     parse_dates=['Day Index'])

In [32]:
ga_social_data.head()

,Social Network,Users,New Users,Sessions,Bounce Rate,Pages / Session,Avg. Session Duration,Contact From Good Lead (Goal 1 Conversion Rate),Contact From Good Lead (Goal 1 Completions),Contact From Good Lead (Goal 1 Value)
0,Facebook,29,29,29,37.93%,1.00,<00:00:01,0.00%,0,£0.00
1,Twitter,6,4,7,0.00%,2.14,00:04:50,0.00%,0,£0.00
2,reddit,2,2,2,100.00%,1.00,00:00:00,0.00%,0,£0.00
3,LinkedIn,1,1,1,100.00%,1.00,00:00:00,0.00%,0,£0.00
4,LiveJournal,1,1,1,0.00%,1.00,00:00:00,0.00%,0,£0.00

In [33]:
ga_social_traffic_data.head()

   Day Index  Users
0 2018-08-31      0
1 2018-09-01      0
2 2018-09-02      0
3 2018-09-03      0
4 2018-09-04      0

In [34]:
ga_other_data = pd.read_csv('../data/ga_data/ga_other.csv', skiprows=6, nrows=5)

ga_other_traffic_data = pd.read_csv('../data/ga_data/ga_other.csv', skiprows=13,
                                    nrows=366, parse_dates=['Day Index'])

In [35]:
ga_other_data.head()

,Source,Users,New Users,Sessions,Bounce Rate,Pages / Session,Avg. Session Duration,Contact From Good Lead (Goal 1 Conversion Rate),Contact From Good Lead (Goal 1 Completions),Contact From Good Lead (Goal 1 Value)
0,directory,116,110,143,18.18%,2.14,00:02:34,0.00%,0,£0.00
1,google_business,35,35,36,16.67%,1.81,00:02:00,0.00%,0,£0.00
2,nav,26,0,43,6.98%,2.40,00:04:04,0.00%,0,£0.00
3,companyemail,16,12,23,43.48%,1.65,00:00:59,0.00%,0,£0.00
4,Clickky DevTools Listing,3,3,3,0.00%,2.67,00:01:45,0.00%,0,£0.00

In [36]:
ga_other_traffic_data.head()

   Day Index  Users
0 2018-08-31      1
1 2018-09-01      0
2 2018-09-02      1
3 2018-09-03      1
4 2018-09-04      0

In [37]:
ga_total_data = pd.read_csv('../data/ga_data/ga_total_channels.csv', skiprows=6,
                            nrows=5)

ga_total_traffic_data = pd.read_csv('../data/ga_data/ga_total_channels.csv', 
                                    skiprows=13, nrows=366, 
                                    parse_dates=['Day Index'])

In [38]:
ga_total_data.head()

,Channel Grouping,Users,New Users,Sessions,Bounce Rate,Pages / Session,Avg. Session Duration,Contact From Good Lead (Goal 1 Conversion Rate),Contact From Good Lead (Goal 1 Completions),Contact From Good Lead (Goal 1 Value)
0,Organic Search,622,598,734,36.10%,1.75,00:01:43,0.00%,0,£0.00
1,Direct,601,599,665,57.74%,1.37,00:00:42,0.00%,0,£0.00
2,(Other),194,160,248,18.15%,2.10,00:02:35,0.00%,0,£0.00
3,Referral,100,88,144,23.61%,3.85,00:02:54,2.08%,3,£0.00
4,Social,41,39,42,35.71%,1.19,00:00:49,0.00%,0,£0.00

In [39]:
ga_total_traffic_data.head()

   Day Index  Users
0 2018-08-31      5
1 2018-09-01      4
2 2018-09-02      5
3 2018-09-03      7
4 2018-09-04      7